#home-container {
    display: flex;

    #feed-posts {
       width: 70%;
       padding: 10px;
    }

    #user-friends {
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgray;
    }
}

#feed-posts #new-post {
    display: block;
    width: 80vw;
    margin: 20px auto;

    h4 {
        text-align: center;
    }

    form textarea {
        width: 80%;
        background-color: rgba(0,0,0,0.1);
    }
}


#posts-list-container {
    ul {
        width: 50vw;
        margin: 50px auto;
        .container {
            box-shadow: 0 0 3px black;
            list-style: none;
            padding: 10px;
            margin-top: 10px;
        }
    }
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    h3 {
        text-transform: capitalize;   
    }

    a{
        text-decoration: none;
        font-size: larger;
        color: darkblue;
    }
}

.post-container-content {
    word-spacing: 0.2rem;
    letter-spacing: 0.07rem;
    background-color: rgb(235, 233, 233);
    min-height: 50px;
    margin: 5px auto;
    padding: 5px;
}

.post-comments-list {
    // border: 1px solid black;
    padding: 0 20px;
    margin: -40px 0;
    ul li {
        padding-bottom: 2px;
        width: 85%;
    }
    .comment-user {
        text-transform: capitalize;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 700;

        a {
            text-decoration: none;
            color: rgba(114, 133, 241, 0.8);
        }
    }
    .comment-content {
        color: rgba(0,0,0,0.6);
        font-size: 0.85rem;
        font-weight: 600;
        line-break: auto;
    }

    .comment-delete {
        a {
            text-decoration: none;
            font-size: small;
        }
    }
}

.post-container-footer {
    
    padding-top: 10px;
    height: 30px;
    border-top: 1px solid rgba(0,0,0,0.2);

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            border: none;
            display: block;
            font-size: 15px;
            outline: none;
        }

        input[type="text"] {
            width: 90%;
        }

        input[type="submit"] {
            width: 10%;
            color: lightskyblue;
            background: none;
            cursor: pointer;

            
        }
    }
}