<div style="background-color: blue; color: cornsilk; padding: 10px; font-size: large;">
<p>Hi <%= comment.user.name%>!</p>
<br />
<br />
<p>Your comment <strong style="text-decoration: floralwhite;"><i><%= comment.content %></i></strong> just got publised on mediaTrend.</p>
<br>
<br>
<p>Thanks!</p>
</div>
