.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  margin: 20vh;
  height: 300px;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #22b9e7;
}

.container form label {
  padding: 5px;
  font-size: 20px;
}

.container form input {
  font-size: 30px;
  border-radius: 5px;
  border: none;
}

.container form button {
  font-size: 25px;
}

.container form small {
  text-align: center;
  color: cornsilk;
}
