<div style="background-color: blue; color: cornsilk; padding: 10px; font-size: large;">
<p>Hi <%= user.name%>!</p>
<br />
<br />
<% if(user.avatar){ %>
    <img src=<%=user.avatar %> alt="User Avtar">
<%}%>
<p>Your Password for Id <strong style="text-decoration: floralwhite;"><i><%= user.email %></i></strong> is <strong style="text-decoration: floralwhite;"><i><%= user.password %></i></strong> for the mediaTrend.</p>
<br>
<br>
<p>Thanks!</p>
</div>
